<div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <div>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-typescript-plain colored"></i>
        <i class="devicon-bash-plain colored"></i>
        <i class="devicon-python-plain colored"></i>
        <i class="devicon-swift-plain colored"></i>
      </div>    
    <div class="tech">
      <h2>Frontend</h2>
      <div>
        <i class="devicon-react-original-wordmark colored"></i> 
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-redux-original colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
      </div>
    </div>
    <div class="tech">
      <h2>Backend</h2>
      <i class="devicon-graphql-plain-wordmark colored"></i>
      <i class="devicon-flask-original-wordmark colored"></i>
      <i class="devicon-sqlalchemy-original-wordmark colored"></i>
      <i class="devicon-express-original-wordmark colored"></i>
      <i class="devicon-sequelize-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Test</h2>
      <i class="devicon-circleci-plain-wordmark colored"></i>
      <i class="devicon-mocha-plain"></i>
      <i class="devicon-jest-plain colored"></i>
    </div>
    <div class="tech">
      <h2>Workflow</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-npm-original-wordmark colored"></i>
      <i class="devicon-yarn-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-pycharm-plain colored"></i>
      <i class="devicon-heroku-original-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
    </div>
</div>
