<div class="user-details">
  <h1>Certifications</h1>
  <p>(27 Total)</p>

  <h2><u>Machine Learning and Artificial Intelligence</u></h2>
  <h4>Generative AI for Software Development, DeepLearning.AI</h4>
  <h4>Generative AI Automation Specialization, <b>Vanderbilt University</b></h4>
  <h4>Prompt Engineering Specialization, <b> Vanderbilt University</b></h4>
  <h4>Microsoft Azure for AI and Machine Learning</h4>
  <h4>Google AI Essentials</h4>
  <h4>IBM AI Developer</h4>
  <h4>Big Data, Artificial Intelligence, and Ethics <b> UC Davis </b></h4>

  <h2><u>Data and Security</u></h2>
  <h4>DeepLearning.AI Data Engineering</h4>
  <h4>Google Data Analytics</h4>
  <h4>Big Data Specialization, UC San Diego</h4>
  <h4>Google Cybersecurity</h4>
  <h4>Cybersecurity Architecture, IBM</h4>
  <h4>Software Architecture for Big Data Specialization, CU Boulder</h4>

  <h2><u>Cloud</u></h2>
  <h4>Certified Cloud Security Professional (CCSP), INFOSEC</h4>
  <h4>Google Cloud Fundamentals Core Infrastructure</h4>
  <h4>AWS Cloud Technology Consultant</h4>
  <h4>AWS Cloud Solutions Architecture</h4>
  <h4>Palo Alto Networks Cloud Security Fundamentals</h4>

  <!-- <h4>Meta Backend Developer</h4>
  <h4>IBM Full Stack Developer</h4> -->

  <h2><u>Architecture, Testing, and Design</u></h2>
  <h4>Google UX Design</h4>
  <h4>Software Design and Architecture, <b> University of Alberta</b></h4>
  <h4>Software Testing and Automation, <b>University of Minnesota</b></h4>
  <h4>Secure Software Design, <b>University of Colorado</b></h4>

  <h2><u>Management</u></h2>
  <h4>Certified SAFe 5 practitioner, <b>Scaled Agile </b></h4>
  <h4>Scaled Agile Software Engineer</h4>
  <h4>Google Project Management</h4>
  <h4>Leading People and Teams, <b>University of Michigan</b></h4>
  <h4>Ethical Decision-Making in the Tech Industry, <b>CU</b></h4>
</div>
