<div class="user-details">
  <h1>Certifications</h1>
  <p>(27 Total)</p>

  <h3><u>Machine Learning and Artificial Intelligence</u></h3>
  <h5>Generative AI for Software Development, DeepLearning.AI</h5>
  <h5>Generative AI Automation Specialization, <b>Vanderbilt University</b></h5>
  <h5>Prompt Engineering Specialization, <b> Vanderbilt University</b></h5>
  <h5>Microsoft Azure for AI and Machine Learning</h5>
  <h5>Google AI Essentials</h5>
  <h5>IBM AI Developer</h5>
  <h5>Big Data, Artificial Intelligence, and Ethics <b> UC Davis </b></h5>

  <h3><u>Data and Security</u></h3>
  <h5>DeepLearning.AI Data Engineering</h5>
  <h5>Google Data Analytics</h5>
  <h5>Big Data Specialization, UC San Diego</h5>
  <h5>Google Cybersecurity</h5>
  <h5>Cybersecurity Architecture, IBM</h5>
  <h5>Software Architecture for Big Data Specialization, CU Boulder</h5>

  <h3><u>Cloud</u></h3>
  <h5>Certified Cloud Security Professional (CCSP), INFOSEC</h5>
  <h5>Google Cloud Fundamentals Core Infrastructure</h5>
  <h5>AWS Cloud Technology Consultant</h5>
  <h5>AWS Cloud Solutions Architecture</h5>
  <h5>Palo Alto Networks Cloud Security Fundamentals</h5>

  <!-- <h5>Meta Backend Developer</h5>
  <h5>IBM Full Stack Developer</h5> -->

  <h3><u>Architecture, Testing, and Design</u></h3>
  <h5>Google UX Design</h5>
  <h5>Software Design and Architecture, <b> University of Alberta</b></h5>
  <h5>Software Testing and Automation, <b>University of Minnesota</b></h5>
  <h5>Secure Software Design, <b>University of Colorado</b></h5>

  <h3><u>Management</u></h3>
  <h5>Certified SAFe 5 practitioner, <b>Scaled Agile </b></h5>
  <h5>Scaled Agile Software Engineer</h5>
  <h5>Google Project Management</h5>
  <h5>Leading People and Teams, <b>University of Michigan</b></h5>
  <h5>Ethical Decision-Making in the Tech Industry, <b>CU</b></h5>
</div>
