<div class="user-details">
  <h1>Certifications</h1>

  <h2>Management</h2>
  <br />
  <h4>Certified SAFe 5 practitioner - Scaled Agile</h4>
  <h4>Scaled Agile Software Engineer</h4>
  <h4>Google Project Management</h4>
  <h4>Ethical Decision-Making in the Tech Industry, CU</h4>

  <h2>Machine Learning and Artificial Intelligence</h2>
  <br />
  <h4>Google AI Essentials</h4>
  <h4>IBM AI Developer</h4>
  <h4>Generative AI for Software Development</h4>
  <h4>Generative AI Automation Specialization, Vanderbilt University!</h4>

  <h2>Data and Security</h2>
  <br />
  <h4>DeepLearning.AI Data Engineering</h4>
  <h4>Google Data Analytics</h4>
  <h4>Google Cybersecurity</h4>

  <!-- <h2>Software Development</h2> -->

  <!-- <h4>Meta Backend Developer</h4>
  <h4>IBM Full Stack Developer</h4> -->

  <h2>Architecture, Testing, and Design</h2>
  <br />
  <h4>Google UI/UX Design</h4>
  <h4>Software Design and Architecture, University of Alberta</h4>
  <h4>Software Testing and Automation, University of Minnesota</h4>
  <h4>Secure Software Design, University of Colorado</h4>
</div>
