<div class="user-details">
  <h2>Mini Projects</h2>
</div>

<div class="user-projects"></div>
<div>
  <h5>Quizlet AI Chrome Extension -- Vite/Typescript/React/Gemini</h5>
  <ul>
    <li>
      A chrome Extension that leverages Gemini to generate study cards based off
      a prompt
    </li>
  </ul>
  <a
    class="project-link"
    href="https://github.com/RyanGC93/quizlet-ai-chrome-extension"
    >Github Repo</a
  >
</div>
<div class="user-projects"></div>
<div>
  <h5>LinkedIn Bulk Unfollow Chrome Extension -- Vite/Typescript/React</h5>
  <ul>
    <li>A chrome Extension that bulk unfollows company pages on LinkedIn</li>
  </ul>
  <a
    class="project-link"
    href="https://github.com/RyanGC93/linkedin-bulk-unfollow"
    >Github Repo</a
  >
</div>
<div class="user-projects"></div>
<div>
  <h5>
    Vision.AI VS Code Extension -- TypeScript / Svelte / VS Code API / Gemini
    Pro AI
  </h5>
  <ul>
    <li>
      Vision AI is an intelligent VSCode extension powered by Gemini Pro AI,
      designed to revolutionize your coding experience
    </li>
  </ul>
  <a
    class="project-link"
    href="https://github.com/RyanGC93/vision-ai-vscode-ext"
    >Github Repo</a
  >
</div>
