<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="First Project" src="https://media4.giphy.com/media/Fzk5fpu6B3c58RtoA2/giphy.gif?cid=790b76118f1bb499849226c585868154ecea358db06b29a6&rid=giphy.gif&ct=g" />
  </div>
  <div class="contents-right">
    <h3> Quiz.md </h3>
    <ul>
      <li>Flask/React/Redux</li>
    </ul>
    <p>A learning site built upon a Flask Backend and React/Redux frontend that allows software engineers to study various topics using a markdown template </p>
    <a class="project-link" href="https://quizmd.herokuapp.com/">Live Link</a>
    <a class="project-link" href="https://github.com/RyanGC93/Quiz.md">Github Repo</a>    
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="https://media3.giphy.com/media/FcCi85YYwdgrvHAPbU/giphy.gif?cid=790b761185599923a3d9125f64750fdb4a1c3bf913737732&rid=giphy.gif&ct=g" />
  </div>
  <div class="contents-left">
    <h3> Worldly </h3>
    <ul>
      <li>Flask/React/Redux</li>
    </ul>
    <p>Worldly is a full-stack web application that is built with a React frontend and a Python backend. This project is a culinary class booking site with a focus on bringing people together and sharing cultures through food.  </p>
    <a class="project-link" href="https://worldlyapp.herokuapp.com/">Live Link</a>
    <a class="project-link" href="https://github.com/RyanGC93/Worldly">Github</a> 
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="https://media3.giphy.com/media/hSmuacYpQwCgpa82uH/giphy.gif?cid=790b7611e8ed31e789d56f452875026d9e4f1b42eb673a82&rid=giphy.gif&ct=g"  />
  </div>
  <div class="contents-right">
    <h3> Instantaneous Gramme</h3>
    <ul>
      <li>Flask/React/Redux</li>
    </ul>
    <p>In this project I created a dynamic website using a Flask backend and a React front end... This project is a spin off of instagram an function and behave similar </p>
    <a class="project-link" href="https://instantaneous-gramme.herokuapp.com/">Live Link</a>
    <a class="project-link" href="https://github.com/TolulopeVerissimo/InstantaneousGramme">Github</a> 
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sherwood Group </h3>
    <ul>
      <li>Sequelize/React/Redux</li>
    </ul>
    <p>A web app inspired by Robinhood with a sequelize backend and a React front end. This project utilizes data fetched from external apis to purchase, sell and manage stocks. It also utilizes charts.js to visualize trends and changes in the data over time  </p>
    <a class="project-link" href="https://sherwood-group.herokuapp.com/">Live Link</a>
    <a class="project-link" href="https://github.com/RyanGC93/Sherwood-Group">Github Repo</a>    
  </div>
</div> -->
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="https://media4.giphy.com/media/JNeB35X2cA1MReJ3yG/giphy.gif" />
  </div>
  <div class="contents">
    <h3> Fitness Overflow </h3>
    <ul>
      <li>Sequelize/Express/Pug</li>
    </ul>
    <p>Fitness Overflow is a QA board that is modeled after Stack Overflow. Fitness Overflow is a dynamic website using a Pug Front-End and a sequelize backend </p>
    <a class="project-link" href="http://fitness-overflow.herokuapp.com">Live Link</a>
    <a class="project-link" href="https://github.com/RyanGC93/fitnessOverflow">Github Repo</a>

  </div>
</div>
