<div class="user">
  <div class="tech">
    <details>
      <summary class="summaryHeader" style="font-size: 32px;"">
        Click to Expand - Full Tech and Skills list
      </summary>
      <p>
        <strong>Programming Languages:  </strong> JavaScript, Node.js, Python (Programming Language), TypeScript, Bash
      </p>
      <p>
        <strong>Front End:  </strong>React.js, Redux, 
        HTML, CSS (Cascading Style Sheets), Three.js, GreenSock Animation
        Platform (GSAP), Tailwind CSS, TensorFlow
      </p>
      <p>
        <strong>Backend End:  </strong> Express, Flask, MongoDB, GraphQL, Sequilize, OpenAPI, PostgreSQL, Redis, AWS sS3
      </p>
      <p>
        <strong>Artificial Intelligence & Machine Learning: </strong> Artificial Intelligence (AI), Google AI Essentials, IBM AI Developer, Microsoft Azure AI, Google Cloud AI, AWS AI & ML, Generative AI, Natural Language Processing (NLP), Google Gemini, ChatGPT, Claude, Machine Learning, TensorFlow, PyTorch, OpenCV, Hugging Face,  FastAI, Reinforcement Learning
      </p>
      <p>
        <strong>Development Tools:  </strong> Bash,
        Responsive Web Design, Git, Vercel, Netlify, Docker, VSCode, Firebase, Convex, AWS, GCP, Azure, NPM, Yarn, Linux, Heroku, PyCharm
      </p>
    </details>
  </div>
</div>
