<div class="user">
  <div class="tech">
    <details>
      <summary class="summaryHeader" style="font-size: 32px;"">
        Click to Expand - Full Tech and Skills list
      </summary>
      <p>
        <strong>Artificial Intelligence & Machine Learning:</strong> Artificial
        Intelligence (AI), Google AI Essentials, IBM AI Developer, Microsoft
        Azure for AI and Machine Learning, Google Cloud Platform (GCP), AWS
        Cloud Solutions Architect, Generative AI, Google Project Management
        Professional Certificate, Google Cybersecurity, Natural Language
        Processing (NLP), Amazon S3, Google Gemini, IBM AI Developer, Machine
        Learning, Azure AI, Google UX Design, Cloud Applications, Cloud
        Computing, AWS Lambda, AWS S3
      </p>
      <p>
        <strong>Development & Programming Languages:</strong> JavaScript,
        Node.js, React.js, Redux, Python (Programming Language), TypeScript,
        HTML, CSS (Cascading Style Sheets), Flask, MongoDB, PostgreSQL, Bash,
        Full-Stack Development, Back-End Web Development, Responsive Web Design,
        REST APIs, Git, Vercel, Netlify, Next.js, Three.js, GreenSock Animation
        Platform (GSAP), Tailwind CSS
      </p>
      <p>
        <strong>Frameworks & Tools:</strong> Scaled Agile Framework, Certified
        SAFe 5 Practitioner, Certified SAFe® Software Engineer, Agile
        Methodologies, Project Management, Agile Project Management, Software
        Design, Secure Software Design, Software Development Security,
        Architectural Design, Continuous Integration (CI)
      </p>
      <p>
        <strong>Certifications & Specializations:</strong> Google Project
        Management Professional Certificate, Google UX Design, Certified SAFe 5
        Practitioner, Certified SAFe® Software Engineer, Google AI Essentials,
        Generative AI Automation Specialization, Prompt Engineering
        Specialization, AWS Cloud Technology Consultant
      </p>
      <p>
        <strong>Experience & Professional Roles:</strong> Software Engineer at
        CVS Health, Full Stack Engineer at Aplentify, Freelance Software
        Engineer at Self Employed, Customer Service
      </p>
    </details>
  </div>
</div>
