<div class="user-details">
  <h1>Volunteering</h1>
</div>
<div class="user-projects">
  <h3>Aplentify</h3>
  <h5>Full Stack Engineer</h5>
  <h6>Apr 2024- Ongoing</h6>
  <p>
    Aplentify is an AI-powered educational platform tailored for Nigerian
    university students, providing personalized tutoring, career resources, and
    academic support to revolutionize learning. The platform tackles challenges
    such as limited access to quality educational resources, generic learning
    paths, and the skills gap between academic learning and professional
    demands. By utilizing AI algorithms for personalized learning, offering
    virtual tutoring, and equipping students with essential career development
    resources, Aplentify ensures targeted academic support and prepares students
    for professional success.
  </p>
  <ul>
    <li>
      Engineered dynamic, responsive front-end user interfaces and implemented
      scalable server-side logic, enhancing user experience and system
      reliability.
    </li>
    <li>
      Deliver interactive lessons and foster a supportive learning environment
      that encourages student exploration of technology.
    </li>
    <li>
      Played a key role in transforming learning journeys through cutting-edge
      technologies and AI-driven insights, establishing Aplentify as a leader in
      educational innovation.
    </li>
  </ul>
</div>
<div class="user-projects">
  <h3>Microsoft Teals</h3>
  <h5>Virtual Classroom Instructor Assistant</h5>
  <h6>Jul 2023 - May 2024</h6>
  <p>
    Microsoft TEALS (Technology Education and Literacy in Schools) is a program
    that partners tech industry professionals with high school teachers to
    co-teach computer science. The initiative aims to build sustainable CS
    programs in schools that lack the necessary resources and expertise. Through
    this collaboration, TEALS helps inspire the next generation of technology
    leaders by bringing real-world computer science education into classrooms
    across the United States.
  </p>
  <ul>
    <li>
      Collaborate with high school teachers to co-teach computer science,
      sharing expertise in programming, algorithms, and problem-solving. .
    </li>
    <li>
      Deliver interactive lessons and foster a supportive learning environment
      that encourages student exploration of technology.
    </li>
    <li>
      Design curricula and provide one-on-one mentorship, tailoring content to
      diverse student needs and promoting technology careers
    </li>
  </ul>
</div>
<div class="user-projects">
  <h3>Code The Dream</h3>
  <h5>Mentor</h5>
  <h6>Oct 2022 - Feb 2024</h6>
  <p>
    Code the Dream is a non-profit organization dedicated to providing free
    coding education and career opportunities in technology to people from
    diverse and underrepresented backgrounds. Through its comprehensive
    programs, participants learn to build software and develop apps that make a
    real-world impact. The initiative not only equips individuals with essential
    programming skills but also helps them launch careers in the tech industry,
    fostering inclusivity and empowerment.
  </p>
  <ul>
    <li>
      Mentor and support diverse aspiring developers through their coding
      bootcamp, covering fundamental programming concepts in HTML, CSS,
      JavaScript, and more.
    </li>
    <li>
      Lead coding workshops and group projects to enhance teamwork and
      problem-solving skills, collaborating with Code the Dream staff to ensure
      curriculum relevance and alignment with industry standards.
    </li>
    <li>
      Advocate for diversity and inclusion in the tech industry, serving as a
      role model and inspiring students to leverage their unique backgrounds and
      perspectives.
    </li>
  </ul>
</div>
