<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <section id="portfolio">{% include portfolio.html %}</section>
    <section id="about">{% include about.html %}</section>
    <section id="projects">{% include projects.html %}</section>
    {{ content }}
    <section id="volunteering">{% include volunteering.html %}</section>
    <section id="certificate">{% include certificate.html %}</section>
    {{ content }} {% include footer.html %}
  </body>
</html>
